<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <ion-item>
            <ion-label position="floating">User <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="user" type="text"></ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="loginForm.controls.user.errors?.required && (loginForm.touched || loginForm.dirty)">* El nombre es obligatorio </ion-label>
          <ion-label color="danger" *ngIf="loginForm.controls.user.errors?.minlength && (loginForm.touched || loginForm.dirty)">* El nombre tiene que tener al menos 4 caracteres.</ion-label>
          <ion-item>
            <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="password" type="password"></ion-input>
          </ion-item>
          <ion-label color="danger" *ngIf="loginForm.controls.password.errors?.email && (loginForm.touched || loginForm.dirty)">* El email no es válido.</ion-label>
          <ion-button block color="primary" type="submit" [disabled]="loginForm.invalid">
            Login
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
